*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*  <-- Paleta de colores --> */

  /* CSS HEX */
  --brilliant-rose: #EA58A6ff;
  --peach-yellow: #FADDA5ff;
  --champagne-pink: #FBDDC9ff;
  --light-blue: #AED5D8ff;
  --antiflash-white: #EEEFF3ff;
  --night: #070c0eff;

  --gradient: linear-gradient(to bottom right, var(--brilliant-rose), var(--peach-yellow), var(--champagne-pink), var(--light-blue));
}

/* <-- General Styles --> */

body{
  font-family: 'Gabarito' ,"Montserrat Alternates",system-ui, -apple-system, sans-serif;
  text-align: center;
  background-color: var(--antiflash-white);
}

a:link{
  color: var(--brilliant-rose);
}

a:visited{
  color: var(--light-blue)
}
a:hover{
  color: var(--night);
}
a:active{
  color: var(--light-blue)
}

h2 {
  font-size: 3rem;
  color: var(--brilliant-rose);
  padding-bottom: .5rem;
}

section{
  margin: 2rem auto;
  max-width: 80%;
  padding-bottom: 2rem;
  border-bottom: .125rem solid var(--champagne-pink);
}

.flex-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
}

/* <-- HEADER --> */

header{
  position: relative;
  background-image: url(./Images/Blob_Background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 5%;

}

header::before{
   content: "";
   z-index: 1;
   position: absolute;
   inset: 0;
   background: rgb(0,0,0,.2);
}

header * {
  position: relative;
  z-index: 2;
}

.header__text{
  margin: 0 auto;
  background-color: #AED5D8dd;
  color: var(--brilliant-rose);
  border: .125rem solid var(--champagne-pink);
  border-radius: 2rem;
  padding: 1.125rem .5rem;
  max-width: 60%;
  min-width: 50%;
  z-index: 2;
  backdrop-filter: blur(.25rem);
}

header h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

header h3{
  font-size: 1.2rem;
  letter-spacing: .3rem;
}

/* <-- NAV --> */
nav{
  margin-top: 1rem;
  font-size: 1.125rem;
}

nav ul{
  display: flex;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
  background-color: #AED5D8dd;
  border: .125rem solid var(--champagne-pink);
  border-radius: 2rem;
  max-width: 80%;
  margin: 0 auto;
  padding: .5rem 1rem;
}

nav li a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid{
  display: grid;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.card{
  width: 90%;
  overflow: hidden;
  border: .125rem solid var(--champagne-pink);
  border-radius: 2rem;
  box-shadow: 0 1px 3px 0 rgba(96, 84, 75, 0.5);
}

/* <-- SHOWROOM --> */

.showroom{
  .grid{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

}

/* <-- FONTS --> */

.fonts{

  .grid{
    grid-template-columns: 2fr 5fr;
  }

  .font, .font__use{
    padding: .5rem 1rem;
    border: .125rem solid var(--champagne-pink);
    border-radius: 2rem;
    box-shadow: 0 1px 3px 0 rgba(96, 84, 75, 0.5);
    background-color: var(--antiflash-white);
    min-height: 100%;
  }

  .font__use{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
}

h3{
  font-size: 1.5rem;
  color: var(--brilliant-rose);
  padding-bottom: .5rem;
}

.font__use:nth-child(2){
  font-family: 'Gabarito', sans-serif;
}

.font__use:nth-child(4){
  font-family: 'Montserrat Alternates', sans-serif;
}

.font__use:nth-child(6){
  font-family: "Hepta Slab", serif;
}

/* <-- COLORS --> */

.colors{

  .grid{
    grid-template-columns: 1fr 1fr;
  }

  .color{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border: .125rem solid var(--champagne-pink);
    border-radius: 2rem;
    box-shadow: 0 1px 3px 0 rgba(96, 84, 75, 0.5);
  }

  .color--primary{
    background-color: #EEEFF3ff;   
  }
  
  .color--secondary{
    background-color: #FADDA5ff;
  }

  .color--accent{
    background-color: #EA58A6ff;

    h3{
      color: var(--antiflash-white);
    }
  }

  .color--dark{
    background-color: #070c0eff;
    p{
      color: var(--antiflash-white);
    }
  }

  .color--medium{
    background-color: #FBDDC9ff;
    
  }

  .color--light{
    background-color: #AED5D8ff;
  }
  
}

/* <-- TEXT STYLES --> */

.text-styles{
h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--brilliant-rose);
    padding-bottom: .5rem;
  }

  .card h2{
    font-size: 1.5rem;
    color: var(--brilliant-rose);
    padding-bottom: .5rem;
  }

  p{
    font-size: 1rem;
    line-height: 1.5;
    color: var(--night);
    padding-bottom: .5rem;
  }

  li{
    list-style-position: inside;
  }

  .flex-container{
    flex-direction: column;
  }

  .card{
    padding: .5rem;
  }
}